html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none;
    background: none;
    outline: none;
}

main {
    display: grid;
    grid-column-gap: 70px;
    grid-row-gap: 20px;
    padding: 10px 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

h2 {
    font-family: "Times New Roman", sans-serif;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-family: Calibri, sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

h4 {
    font-family: Calibri, sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

.display-contents {
    display: contents;
}

#current-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#current-weather-features {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}

#filler {
    grid-row: 2 / 2;
    grid-column: 2 / -1;
}

.grey-rect {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: darkgrey;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 8px;
}

.favorite-item-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.weather-features {
    display: flex;
    flex-direction: column;
}

.close-button {
    margin-left: auto;
}

.item-header-entry {
    margin-right: 10%;
}

.t-favourite {
    font-family: Calibri, sans-serif;
    font-size: 28px;
}

#t-current {
    font-family: Calibri, sans-serif;
    font-size: 140px;
    margin-right: 20px;
}

.feature-name {
    color: white;
}

.feature-text {
    font-family: Calibri, sans-serif;
    font-weight: lighter;
    color: white;
}

#favourites-header {
    grid-row: 3 / 3;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#current-header {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 250px 1fr;
}

#update-button {
    background-color: lightgrey;
    height: 40px;
    width: 100%;
}

#update-button-text {
    font-family: "Times New Roman", sans-serif;
    font-size: 16px;
    color: grey;
}

.update-button-icon {
    display: none;
}

#add-city-form {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

#add-city-input {
    width: 100%;
    height: 20px;
    outline: none;
    border: none;
    background-color: #e2e2e2;
    resize: none;
    padding: 10px;
    font-family: "Times New Roman", sans-serif;
    font-size: 16px;
    color: grey;
    overflow: hidden;
    white-space: nowrap;
}

#add-button {
    outline: none;
    background: none;
    border: none;
}

#current-weather-block {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
}

#current-city-name {
    font-size: 36px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 950px) {
    main {
        grid-template-columns: 100%;
    }

    #current-weather-features {
        grid-row: 3 / 3;
        grid-column: 1 / 1;
    }

    #filler {
        grid-row: 3 / 3;
        grid-column: 1 / 1;
    }

    #favourites-header {
        grid-row: 4 / 4;
    }

    #add-city-form {
        width: 100%;
    }

    #update-button {
        height: auto;
        width: auto;
        margin-left: 40px;
        margin-right: auto;
    }

    #update-button-text {
        display: none;
    }

    .update-button-icon {
        display: block;
        font-size: 32px;
    }

    #current-header {
        display: flex;
        justify-content: flex-start;
    }

    #current-weather-block {
        width: 100%;
    }

    #current-weather {
        justify-content: flex-start;
    }

    #t-current {
        margin-left: 100px;
        margin-right: auto;
    }
}